.record-container{
    display:flex;
}

.nav-menu{
    display:flex;
    padding: 0.9vh 0.5vw 0.5vh 1vw;
    margin-left:auto;
    width:30vw;
    justify-content:space-between;
}

ul {
    list-style-type: none;
  }

li{
    color: white;
}

.nav-header{
    background-color: #4d79ff;
}

.nav-link{
    text-decoration: none;
    font-size:20px;
}

.record-title{
    color:white;
    padding: 0.5vh 0.5vw 0.5vh 1vw;
}

.error{
    color:red;
}