.register-container{
    display:flex;
    flex-direction:column;
    align-self:center;
    width:50vw;
    max-width: 500px;
}


ul {
    list-style-type: none;
  }

li{
    color: white;
}

.nav-header{
    background-color: #007196;
}

.nav-link{
    text-decoration: none;
    font-size:20px;
}

.record-title{
    color:white;
    padding: 0.5vh 0.5vw 0.5vh 1vw;
}

.error{
    color:red;
}